h1{
    text-align: center;
    font-size: 100px;
    color: rgb(183, 37, 37);
}

.info-section {
    padding: 20px;
    border: 1px solid #ccc;
    background-color:  white;
    color: black;
    transition: 0.75s ease;
    border-radius: 50px;
    border: transparent;
}
.highlight {
    background-color: red;
    color: white;
    transition: 0.75s ease;
}